<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<button (click)="showCalendar()">showCalendar</button>

<!--The content below is only a placeholder and can be replaced.-->
<!--div *ngIf="idToken"-->
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>

  <h2>User</h2>
  <p>{{ userName }}, {{ email }}</p>

  <p>
    <button (click)="refresh()">Refresh</button>
  </p>

<!-- calendar.component.html -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Kind</th>
      <th>Summary</th>
      <th>Time Zone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calendar of calendars">
      <td><a href="#" (click)="onIdClick(calendar.id); $event.preventDefault()">{{ calendar.id }}</a></td>
      <td>{{ calendar.kind }}</td>
      <td>{{ calendar.summary }}</td>
      <td>{{ calendar.timeZone }}</td>
    </tr>
  </tbody>
</table>

<!--/div-->

<router-outlet />
